<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Proveedores</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="*"><i class="fa fa-home"></i>Inicio</a>
      </li>
      <li>
        <a href="/listado"><i class="fa fa-list"></i>Libros</a>
      </li>
      <li>
        <a href="/nuevo"><i class="fa fa-plus"></i>Nuevo Libro</a>
      </li>
      <li>
        <a href="/proveedores"><i class="fa fa-list"></i>Proveedores</a>
      </li>
      <li>
        <a href="/nuevoProv"><i class="fa fa-plus"></i>Nuevo -Proveedor</a>
      </li>
      <li>
        <a href="/integrantes"><i class="fa fa-list"></i>Integrantes</a>
      </li>
      <li>
        <a href="/nuevoInt"><i class="fa fa-plus"></i>Nuevos Integrantes</a>
      </li>
    </ul>
  </aside>


<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of proveedores">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th scope="row">{{proveedor.codProv}}</th>
            <td>{{proveedor.nomProv}}</td>
            <td><button style="margin-right: 12px;" class="btn btn-primary" [routerLink]="'/actuProv/' + proveedor.codProv">Editar</button>
              <button class="btn btn-danger" (click)="eliminarProv(proveedor.codProv)">Eliminar</button></td>
          </tr>
        </tbody>

      </table>
</div>
