<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Librerias Eclipse</h2>
    </div>
    <ul class="sidebar-nav">
      <li >
        <a href="*"><i class="fa fa-home"></i>Inicio</a>
      </li>
      <li>
        <a href="/nuevo"><i class="fa fa-plus"></i>Nuevo Libro</a>
      </li>
    </ul>
  </aside>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Proveedor</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of Libros">
            <th scope="row">{{libro.codLib}}</th>
            <td>{{libro.nombre}}</td>
            <td>{{libro.descripcion}}</td>
            <td>{{libro.precio}}</td>
            <td>{{libro.proveedor.nomProv}}</td>
            <td><button style="margin-right: 12px;" class="btn btn-primary" [routerLink]="'/actuLibro/' + libro.codLib">Editar</button>
                <button class="btn btn-danger" (click)="eliminarLibro(libro.codLib)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
</div>