<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Registrar Integrante</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="*"><i class="fa fa-home"></i>Inicio</a>
      </li>
      <li>
        <a href="/listado"><i class="fa fa-list"></i>Libros</a>
      </li>
      <li>
        <a href="/nuevo"><i class="fa fa-plus"></i>Nuevo Libro</a>
      </li>
      <li>
        <a href="/proveedores"><i class="fa fa-list"></i>Proveedores</a>
      </li>
      <li>
        <a href="/nuevoProv"><i class="fa fa-plus"></i>Nuevo -Proveedor</a>
      </li>
      <li>
        <a href="/integrantes"><i class="fa fa-list"></i>Integrantes</a>
      </li>
      <li>
        <a href="/nuevoInt"><i class="fa fa-plus"></i>Nuevos Integrantes</a>
      </li>
    </ul>
  </aside>

  
    <div class="container-registrar">
        <form class="row g-3" [formGroup]="integranteForm" (ngSubmit)="registrarInt()">
            <div class="col-md-6">
              <label for="inputName" class="form-label">Nombre Integrante</label>
              <input type="text" class="form-control" formControlName="nomInt">
            </div>
            <div class="col-md-6">
                <label for="inputName" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" formControlName="apePInt">
            </div>
            <div class="col-md-6">
                <label for="inputName" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" formControlName="apeMInt">
            </div>
            <div class="col-md-6">
                <label for="inputName" class="form-label">Fecha</label>
                <input type="date" class="form-control" formControlName="fecha">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </form>
    </div>
    </div>
  
