<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Actualizar Proveedor</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="*"><i class="fa fa-home"></i>Inicio</a>
      </li>
      <li>
        <a href="/listado"><i class="fa fa-list"></i>Libros</a>
      </li>
      <li>
        <a href="/nuevo"><i class="fa fa-plus"></i>Nuevo Libro</a>
      </li>
      <li>
        <a href="/proveedores"><i class="fa fa-list"></i>Proveedores</a>
      </li>
      <li>
        <a href="/nuevoProv"><i class="fa fa-plus"></i>Nuevo -Proveedor</a>
      </li>
      <li>
        <a href="/integrantes"><i class="fa fa-list"></i>Integrantes</a>
      </li>
      <li>
        <a href="/nuevoInt"><i class="fa fa-plus"></i>Nuevos Integrantes</a>
      </li>
    </ul>
  </aside>



    <div class="container-Actualizar">
        <form class="row g-3" [formGroup]="proveedorForm" (ngSubmit)="actualizarProv()">
            <div class="col-md-6">
              <label for="inputName" class="form-label">Nombre Proveedor</label>
              <input type="text" class="form-control" formControlName="nomProv">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </form>
    </div>
    </div>
  
