  #sidebar-wrapper {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
  }
  
  #sidebar-title {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .sidebar-nav {
    list-style: none;
  }
  
  .sidebar-nav li {
    padding: 15px;
    text-align: left;
  }
  
  .sidebar-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-nav li a i {
    margin-right: 10px;
  }
  
  .sidebar-nav li:hover {
    background-color: #555;
  }
  
  #nav-home a {
    font-weight: bold;
  }
