<head></head>

  <div id="wrapper">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <h2>Librerias Eclipse</h2>
      </div>
      <ul class="sidebar-nav">
        <li>
          <a href="*"><i class="fa fa-home"></i>Inicio</a>
        </li>
        <li>
          <a href="/listado"><i class="fa fa-list"></i>Listado</a>
        </li>
        <li>
          <a href="/nuevo"><i class="fa fa-plus"></i>Nuevo Libro</a>
        </li>
      </ul>
    </aside>
  
    
    <div id="special-offer-header">
      <head><h2>Ofertas Espciales</h2></head>
    </div>


<div class="container">
 <div class="card-container">
  <div class="card" style="width: 18rem;">
    <div class="container-img">
    <img src="assets/img/D_NQ_NP_802390-MLC52498921647_112022-O.webp" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">JJBA: Steel Ball Run</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="container-img">
        <img src="assets/img/077852940e557d4912a7f457900cb15b.webp" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">El Pueblo de los Horrores</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="container-img">
        <img src="assets/img/descarga.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">Diario de Greg 18</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>

<div id="special-offer-header">
  <head><h2>Especial 4 Mayo</h2></head>
</div>

<div class="container">
  <div class="card-container">
   <div class="card" style="width: 18rem;">
      <div class="container-img">
        <img src="assets/img/descarga (1).jpg" class="card-img-top" alt="...">
      </div>
       <div class="card-body">
       <h5 class="card-title">Mercancia Dura</h5>
       <p class="card-text">Boba Fett investiga la muerte de los tíos de Anakin Skywalker, enfrentando a un peligroso enemigo mientras protege a una joven amnésica.</p>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <div class="container-img">
        <img src="assets/img/portada_star-wars-las-tropas-de-la-muerte-ne_joe-schreiber_202107071509.webp" class="card-img-top" alt="...">
     </div> 
     <div class="card-body">
      
       <h5 class="card-title">Death Troopers</h5>
       <p class="card-text">Prisioneros de la barcaza Purga buscan refacciones en un Destructor Estelar, enfrentando una enfermedad mortal y muertos que se levantan.</p>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <div class="container-img">
        <img src="assets/img/1576669220-51W5F9owYKL.jpg" class="card-img-top" alt="...">
     </div>
     <div class="card-body">
       <h5 class="card-title">Darth Plagueis</h5>
       <p class="card-text">Darth Plagueis busca dominar vida y muerte, mientras Darth Sidious ascender al poder. Juntos, pretenden destruir a los Jedi y gobernar la galaxia.</p>
     </div>
   </div>
 </div>
  

  